.main__search {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%);
}
.main__input {
  color: #abb5be;
  width: 820px;
  display: inline-block;
  border: 2px solid #ced4da;
  background-color: #fff;
  border-radius: 4px;
  padding: 22px 32px;
  font-size: 24px;
  text-transform: capitalize;
  margin-top: -40px;
}
