.main {
  background: #edeef3;
}
.main__container {
  position: relative;
}
.main__content {
  padding: 80px 0 102px;
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
