/*-------------------------------normalize------------------------------------------*/
@import url("https://fonts.googleapis.com/css?family=Inter:regular,700&display=swap");
@import url("./components/Header/Header.css");
@import url("./components/Main/Main.css");
@import url("./components/Input/Input.css");
@import url("./components/Card/Card.css");
@import url("./components/Footer/Footer.css");

/* ОБНУЛЕНИЕ СТИЛЕЙ */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

img {
  vertical-align: top;
}

html,
body {
  height: 100%;
}

html {
  /* по умолчанию */
  font-size: 12px;
}

[class*="__container"] {
  max-width: 1020px;
  margin: 0px auto;
  padding: 0px 15px;
}

body {
  line-height: 1;
  font-family: "Inter";
}

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main {
  flex-grow: 1;
}
